---
  yes_answer: 
    - "да"
    - "yes"
    - "д"
    - "y"

 # Папка дистрибутива LiW на внутреннем сервере АНТОР
  repo_folder: \\\\server\\антор\\Отдел Внедрения\\Релизы\\LogistinWeb\\Repo

  # Внешняя папка дистрибутива LiW на внутреннем сервере АНТОР
  repo_folder_ext: \\\\tsclient\\V\\Релизы\\LogistinWeb\\Repo

  distr_folder_host: "distr"

  # ftp server c дистрибутивом LiW
  ftp_server_repo: "ftp://ans_distr:4M3nONDY2u@192.168.3.4"
  ftp_folder_repo: "LiW_repo"

  # Имя виртуалки для теста
  vm_name: win2k19-liw-test
  # Имя snapshot для отката виртуалки в исходное состояние
  vm_snapshot: snapshot1

  #Папка утилит LiW на внутреннем сервере АНТОР
  repo_utils_folder: "{{ repo_folder }}\\Utils"
  #Внешняя папка утилит LiW на внутреннем сервере АНТОР
  repo_utils_folder_ext: "{{ repo_folder_ext }}\\Utils"
  # Имя архива со всеми админскими утилиатми
  tools_file_7z: "Utils.7z"
  antor_tools_folder: "Utils"
  
  iis_folder: "C:\\inetpub\\ANTOR Enterprise"
  root_cert_passw: "andrewgor"
  cert_name: "ANTOR Enterprise Server"
  cert_subj_name: "CN=ANTOR Enterprise Server"
  antor_root_authotity: "ANTOR Enterprise Root Authority"
  antor_root_authotity_file: "ANTOR Enterprise Root Authority.pfx"

