---
#Add ANTOR Enterprise site
- name: Create a new application pool in 'Started' state
  microsoft.iis.web_app_pool:
    name: "{{ antor_ent_site }}"
    attributes:
      processModel.identityType: SpecificUser
      processModel.userName: "{{ user_antor }}"
      processModel.password: "{{ passw_user_antor }}"
      processModel.loadUserProfile: true
    state: started  

- name: "Установка сертификатов АНТОР"
  include_role:
     name: antor_cert

- name: Obtain information 2
  win_shell: |   
    $cert = Get-ChildItem cert:\LocalMachine\My | Where-Object { $_.Subject -eq "{{ cert_subj_name }}" } | Select-Object -Last 1
    if ($cert) {
      Write-Output $cert.Thumbprint
    } else {
      # Handle case where certificate is not found
      Write-Error "Certificate not found"
    }
  register: cert_hash_result

- name: Create a new site "ANTOR ENTERPRISE"
  microsoft.iis.website:
    name: "{{ antor_ent_site }}"
    physical_path: "{{ iis_folder }}"
    application_pool: "{{ antor_ent_site }}"
    bindings:
      set:
       - port: "{{ http_port_ae_site }}"
         protocol: http
       - port: "{{ https_port1_ae_site }}"
         protocol: https
         certificate_hash: "{{ cert_hash_result.stdout_lines[0] }}"
       - port: "{{ https_port2_ae_site }}"
         protocol: https
         certificate_hash: "{{ cert_hash_result.stdout_lines[0] }}"  

- name: Behavior site AE
  win_shell: |
    Import-Module WebAdministration
    $site_name = "{{ antor_ent_site }}"
    Set-ItemProperty IIS:\sites\$site_name -name EnabledProtocols -Value "http, https"
  

- name: add firewall rule ANTOR Enterprise site
  win_firewall_rule:
    name: "ANTOR Enterprise Port"
    direction: in
    action: Allow
    protocol: TCP
    localport: "{{ iis_ae_site_port_range }}"
    state: present
    enabled: yes
    profile: # <-- Changed from Any
      - Domain
      - Private
      - Public
  tags: test    

# - name: Set permission to Handlers
#   win_shell: appcmd set config "TM/" /section:system.webServer/handlers /accessPolicy:Read,Script,Execute

# - name: Set user to identity AppPool IIS
#   win_shell: appcmd set apppool "TM" /processModel.identityType:SpecificUser /processModel.userName:{{ antor_win_user }} /processModel.password:"{{ antor_win_user_pwd }}"

# - name: IIS set site CGI user
#   win_shell: appcmd set config "TM" /section:system.webServer/cgi /createProcessAsUser:"True" /commit:apphost
# - name: IIS set anonymousAuthentication
#   win_shell: appcmd set config "TM" /section:system.webServer/security/authentication/anonymousAuthentication /username:"" /enabled:True /commit:apphost

#Add HTTPS binding to site

# - name: Add https binding
#   win_shell: appcmd set site TM /+bindings."[protocol='https',bindingInformation='*:{{ tm_https_port }}:']"
#   when: tm_https_need
#   register: is_https
#   failed_when: "'Cannot add duplicate collection' not in is_https.stdout and 'ERROR' in is_https.stdout"

# - name: Get ssl_cert_thumbprint
#   win_shell: |
#     $v1 = Get-ChildItem -Path Cert:\LocalMachine\My | Select-Object -First 1
#     write-host $v1.thumbprint
#   register: new_thumbprint
#   when: tm_https_need and ssl_cert_thumbprint == ''

# - name: Set a new variable from the command's stdout
#   ansible.builtin.set_fact:
#     ssl_cert_thumbprint: "{{new_thumbprint.stdout|trim}}"
#   when: tm_https_need and  new_thumbprint.stdout != ''

# - name: Add SSL sert
#   win_shell: netsh http add sslcert ipport="0.0.0.0:443" certhash="{{ssl_cert_thumbprint|trim}}" certstorename=MY appid='{ebc8f0fe-1628-453e-a611-a24494cc277d}'
#   register: is_add_ssl
#   when: tm_https_need and ssl_cert_thumbprint != '' and not is_https.failed
#   ignore_errors: true

# - name: Set SSL require and accept user certs
#   win_shell: appcmd set config "TM/" /section:system.webServer/security/access /sslFlags:"Ssl,SslNegotiateCert" /commit:apphost
#   when: tm_https_need and not is_https.failed and not is_add_ssl.failed
#   ignore_errors: true

# #Restart site & app pool

# - name: Recycle AppPool
#   win_shell: appcmd recycle apppool "TM"

# - name: Site stop
#   win_shell: appcmd stop site /site.name:"TM"

# - name: Site start
#   win_shell: appcmd start site /site.name:"TM"
