---
#Add ANTOR Enterprise site
- name: Create a new application pool in 'Started' state
  microsoft.iis.web_app_pool:
    name: "{{ antor_ent_site }}"
    attributes:
      processModel.identityType: SpecificUser
      processModel.userName: "{{ user_antor }}"
      processModel.password: "{{ passw_user_antor }}"
      processModel.loadUserProfile: true
    state: started  

- name: "Установка сертификатов АНТОР"
  include_role:
     name: antor_cert

- name: Obtain information 2
  win_shell: |   
    $cert = Get-ChildItem cert:\LocalMachine\My | Where-Object { $_.Subject -eq "{{ cert_subj_name }}" } | Select-Object -Last 1
    if ($cert) {
      Write-Output $cert.Thumbprint
    } else {
      # Handle case where certificate is not found
      Write-Error "Certificate not found"
    }
  register: cert_hash_result

- name: Create AE site folder
  win_file:
    path: "{{ iis_folder }}"
    state: directory

- name: Set rights AE site folder
  win_acl:
    path: "{{ iis_folder }}"
    user: "{{ user_antor }}"
    rights: FullControl
    state: present
    type: allow

- name: Create a new site "ANTOR ENTERPRISE"
  microsoft.iis.website:
    name: "{{ antor_ent_site }}"
    physical_path: "{{ iis_folder }}"
    application_pool: "{{ antor_ent_site }}"
    bindings:
      set:
       - port: "{{ http_port_ae_site }}"
         protocol: http
       - port: "{{ https_port1_ae_site }}"
         protocol: https
         certificate_hash: "{{ cert_hash_result.stdout_lines[0] }}"
       - port: "{{ https_port2_ae_site }}"
         protocol: https
         certificate_hash: "{{ cert_hash_result.stdout_lines[0] }}"  

- name: Behavior site AE
  win_shell: |
    Import-Module WebAdministration
    $site_name = "{{ antor_ent_site }}"
    Set-ItemProperty IIS:\sites\$site_name -name EnabledProtocols -Value "http, https"

- name: add firewall rule ANTOR Enterprise site
  win_firewall_rule:
    name: "ANTOR Enterprise Port"
    direction: in
    action: Allow
    protocol: TCP
    localport: "{{ iis_ae_site_port_range }}"
    state: present
    enabled: yes
    profile:
      - Domain
      - Private
      - Public
  tags: test    