### Ansible ###
# Ignore retry files
*.retry
# Ignore log files
*.log
# Ignore dynamically generated collections
collections/ansible_collections
# Ignore the hidden environment directory
.ansible
# Ignore Python cache files
*.pyc
# Ignore editor/OS specific files (optional, can be added from general templates)
.DS_Store
.python-version
.ruff_cache
