---
- name: Install IIS and additional features
  win_feature:
    name: "{{ item }}"
    state: present
  loop:
    - Web-Server
    - "{{ iis_additional_features }}"
  register: iis_install_result

- name: Add IISp to system PATH if installation succeeded
  ansible.windows.win_path:
    name: Path
    elements: "%systemroot%\\system32\\inetsrv\\;"
    state: present
    scope: machine
  when: iis_install_result.changed

- name: Create IIS shortcut on the desktop
  community.windows.win_shortcut:
    src: "%windir%\\system32\\inetsrv\\InetMgr.exe"
    dest: C:\Users\{{ user_adm_antor }}\Desktop\Internet Information Services (IIS) Manager.lnk
    icon: "%windir%\\system32\\inetsrv\\InetMgr.exe,0"
  when: iis_install_result.changed  

# Setup ANTOR LiW site to IIS

- name: Stop the default IIS web site
  microsoft.iis.website:
    name: "Default Web Site" # Replace with your site name
    state: stopped

- name: Ensure 'DefaultAppPool' is stopped
  microsoft.iis.web_app_pool:
    name: "DefaultAppPool"
    state: stopped
    attributes:
      autoStart: false

- name: Reboot server IIS
  ansible.windows.win_reboot:
  when: iis_install_result.changed
