---
- name: Install IIS and additional features
  win_feature:
    name: "{{ item }}"
    state: present
  loop:
    - Web-Server
    - "{{ iis_additional_features }}"
  register: iis_install_result

- name: Check for pending Component Based Servicing reboot
  ansible.windows.win_shell: Test-Path 'HKLM:\Software\Microsoft\Windows\CurrentVersion\Component Based Servicing\RebootPending'
  register: reboot_pending_result

- name: Add IISp to system PATH if installation succeeded
  ansible.windows.win_path:
    name: Path
    elements: "%systemroot%\\system32\\inetsrv\\;"
    state: present
    scope: machine

- name: Check for pending Windows Update reboot
  ansible.windows.win_shell: Test-Path 'HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\WindowsUpdate\Auto Update\RebootRequired'
  register: reboot_required_result

- name: Create IIS shortcut on the desktop
  community.windows.win_shortcut:
    src: "%windir%\\system32\\inetsrv\\InetMgr.exe"
    dest: C:\Users\{{ user_adm_antor }}\Desktop\Internet Information Services (IIS) Manager.lnk
    icon: "%windir%\\system32\\inetsrv\\InetMgr.exe,0"

- name: Reboot if pending
  ansible.windows.win_reboot:
    msg: "Rebooting for pending update"
  when: reboot_pending_result.stdout == "True\r\n" or reboot_required_result.stdout == "True\r\n"

# Setup ANTOR LiW site to IIS

- name: Stop the default IIS web site
  microsoft.iis.website:
    name: "Default Web Site" # Replace with your site name
    state: stopped

- name: Ensure 'DefaultAppPool' is stopped
  microsoft.iis.web_app_pool:
    name: "DefaultAppPool"
    state: stopped
    attributes:
      autoStart: false

- name: Reboot server IIS
  ansible.windows.win_reboot:
  when: iis_install_result.changed
