- name: AE site install
  include_role:
    name: iis_ent_site

- name: Create AEGatewayService directories
  ansible.windows.win_file:
    path: "{{ item }}"
    state: directory
  loop:
    - "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}"
    - "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ db_AEGatewayService_data_folder }}"
    - "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ db_AEGatewayService_log_folder }}"
    - "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGateway_Log_folder }}"
    - "{{ iis_folder }}\\{{ AE_site_app_name }}"
  #tags: test

- name: Set rights AEGatewayService folder
  win_acl:
    path: "{{ item }}"
    user: "{{ user_antor }}"
    rights: FullControl
    state: present
    type: allow
  loop:
    - "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}"
    - "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ db_AEGatewayService_data_folder }}"
    - "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ db_AEGatewayService_log_folder }}"
    - "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGateway_Log_folder }}"
    - "{{ iis_folder }}\\{{ AE_site_app_name }}"
  #tags: test

- name: Set rights AEGatewayService DB folder
  win_acl:
    path: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ db_AEGatewayService_data_folder }}"
    user: "{{ item }}"
    rights: FullControl
    state: present
    type: allow
  loop:
    - "MSSQL${{ sql_name }}"
    - "SYSTEM"
  #tags: test

- name: Add share
  win_share:
    name: "{{ AEGateway_Log_folder }}"
    description: " Share{{ AEGateway_Log_folder }}"
    path: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGateway_Log_folder }}"
    full: Everyone
  #tags: test

- name: Download AEGatewayService distr from FTP
  win_shell: wget {{ ftp_server_repo }}/{{ ftp_folder_repo }}/{{ repo_AEGatewayService_file }} -O "{{ disk_install }}\\{{ antor_root_folder }}\\{{ distr_folder_host }}\\{{ repo_AEGatewayService_file }}"
  #tags: test

- name: Extract AEGatewayService
  win_shell: 7z x "{{ disk_install }}\\{{ antor_root_folder }}\\{{ distr_folder_host }}\\{{ repo_AEGatewayService_file }}" -o"{{ disk_install}}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}" -aos
  #tags: test

- name: Add user to SQL server
  win_shell: |
    $un = "{{ host_name }}\{{ user_antor }}" 
    $connString = "Server='{{ sql_host }}\{{ sql_name }}';Database='master';Integrated Security=True;"                
    $sql = "CREATE LOGIN [$un] FROM WINDOWS WITH DEFAULT_DATABASE=[master]; ALTER SERVER ROLE [sysadmin] ADD MEMBER [$un]"
    Invoke-Sqlcmd -ConnectionString $connString -Query $sql -QueryTimeout 0
  #tags: test

- name: Restore database AEGatewayService
  win_shell: |
    $connString = "Server='{{ sql_host }}\{{ sql_name }}';Database='master';Integrated Security=True;"
    $file = "{{ disk_install}}\{{ antor_root_folder }}\{{ AEGatewayService_folder }}\{{ db_AEGatewayService_bak_file }}"
    $lf = "{{ db_AEGatewayService_log_fname }}"
    $log_dir_file = "{{ disk_install }}\{{ antor_root_folder }}\{{ AEGatewayService_folder }}\{{ db_AEGatewayService_log_folder }}\{{ db_AEGatewayService_name }}"
    $data_dir_file = "{{ disk_install }}\{{ antor_root_folder }}\{{ AEGatewayService_folder }}\{{ db_AEGatewayService_data_folder }}\{{ db_AEGatewayService_name }}"
    $db_name = "{{ db_AEGatewayService_name }}"
    $sql = "RESTORE DATABASE [$db_name] FROM DISK = '$file' WITH REPLACE, RECOVERY, MOVE '${lf}' TO '${data_dir_file}.mdf',   MOVE '${lf}_Log' TO '${log_dir_file}.ldf'"
    Invoke-Sqlcmd -ConnectionString $connString -Query $sql -QueryTimeout 0
  #tags: test

- name: Set Log dir in AEGatewayService config
  community.windows.win_xml:
    path: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ AEGatewayService_config }}"
    xpath: /configuration/userSettings/*/setting[@name="LogsPath" and @serializeAs="String"]/value
    fragment: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGateway_Log_folder }}"
    type: text
    state: present
  #tags: test

- name: Set Debug mode to true in AEGatewayService config
  community.windows.win_xml:
    path: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ AEGatewayService_config }}"
    xpath: /configuration/userSettings/*/setting[@name="DebugMode" and @serializeAs="String"]/value
    fragment: "True"
    type: text
    state: present
  #tags: test

- name: Set SQL ConnectionString in AEGatewayService config
  community.windows.win_xml:
    path: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ AEGatewayService_config }}"
    xpath: /configuration/connectionStrings/*[@name="AEGatewayDatabase"]
    fragment: "{{ conn_str }}"
    type: attribute
    attribute: "connectionString"
    state: present
  #tags: test

- name: add firewall rule AEGatewayService
  win_firewall_rule:
    name: "ANTOR TCPGateway Ports"
    direction: in
    action: Allow
    protocol: TCP
    localport: "{{ tele_port_range }}"
    state: present
    enabled: yes
    profile:
      - Domain
      - Private
      - Public
  #tags: test

- name: Grant domain account the "Log on as a service" user right
  ansible.windows.win_user_right:
    name: SeServiceLogonRight
    users:
      - "{{ host_name }}\\{{ user_antor }}"
    action: add
  #tags: test

# - name: Create AEGatewayService service
#   win_command: sc create {{ ae_gateway_service_name }} binPath= "{{ disk_install }}\{{ antor_root_folder }}\{{ AEGatewayService_folder }}\{{ AEGatewayService_exe }}"  DisplayName= "ANTOR Enterprise TCP Gateway Service" type= own start= auto
#   register: rs1
#   #tags: test

# - name: Debug 1
#   debug:
#     var: rs1
#   #tags: test

# - name: Pause 1
#   pause:
#   #tags: test

# - name: Add description AEGatewayService service
#   win_command: sc description {{ ae_gateway_service_name }} "Provides TCP gateway service for ANTOREnterprise platform"
#   #tags: test

# - name: Change start type AEGatewayService service
#   win_command: sc config "{{ ae_gateway_service_name }}" start=delayed-auto
#   #tags: test

# - name: Change user AEGatewayService service
#   win_command: sc config "{{ ae_gateway_service_name }}" obj="{{ host_name }}\{{ user_antor }}" password="{{ passw_user_antor }}"
#   #tags: test
#   register: rs2

# - name: Debug 2
#   debug:
#     var: rs2
#   #tags: test

# - name: Pause 2
#   pause:
#   #tags: test

# - name: Change service AEGatewayService failure actions
#   win_service:
#     name: "{{ ae_gateway_service_name }}"    
#     failure_actions:
#       - type: restart
#       - type: restart
#       - type: restart

- name: Set service AEGatewayService 
  win_service:
    name: "{{ ae_gateway_service_name }}"    
    display_name: "ANTOR Enterprise TCP Gateway Service"
    description: "Provides TCP gateway service for ANTOREnterprise platform"
    path: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ AEGatewayService_exe }}"
    username: "{{ host_name }}\\{{ user_antor }}"
    password: "{{ passw_user_antor }}"
    start_mode: "delayed"
    failure_actions:
      - type: restart
      - type: restart
      - type: restart
  tags: test  

- name: Change service AEGatewayService dependencies
  win_service:
    name: "{{ ae_gateway_service_name }}"
    dependencies: "{{ sql_service }}"
  when: sql_host == host_name
  #tags: test

- name: Set GrantServicePerwmisiion 1
  win_command: '"{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\Security\\subinacl.exe" /service {{ ae_gateway_service_name }} /grant="{{ user_antor }}"=F'
  #tags: test

- name: Set GrantServicePerwmisiion 2
  win_command: '"{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\Security\\subinacl.exe" /subdirectories "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\*"  /grant="{{ user_antor }}"=F'
  #tags: test

- name: Start service AEGatewayService
  win_service:
    name: "{{ ae_gateway_service_name }}"
    state: started
  #tags: test

- name: Check database AEGatewayService
  win_shell: |
    $connString = "Server='{{ sql_host }}\{{ sql_name }}';Database='{{ db_AEGatewayService_name }}';Integrated Security=True;"    
    $sql = "SELECT count(*) FROM  [ServiceLogEvents]"
    Invoke-Sqlcmd -ConnectionString $connString -Query $sql -QueryTimeout 0
  register: sql_result
  #tags: test

- name: Display the SQL output
  debug:
    var: sql_result
  #tags: test

- name: Pause for 10 seconds
  pause:
    seconds: 10
  #tags: test

- name: Copy files for web service AEGatewayService
  community.windows.win_robocopy:
    src: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ AE_site_app_name }}\\"
    dest: "{{ iis_folder }}\\{{ AE_site_app_name }}"
    purge: true # Deletes files/directories in destination that don't exist in source after sync
    flags: /MIR /MOVE /E
    recurse: true
  #tags: test

- name: Set SQL ConnectionString in web service AEGatewayService config
  community.windows.win_xml:
    path: "{{ iis_folder }}\\{{ AE_site_app_name }}\\web.config"
    xpath: /configuration/connectionStrings/*[@name="AEGatewayDatabase"]
    fragment: "{{ conn_str_iis }}"
    type: attribute
    attribute: "connectionString"
    state: present
  #tags: test

- name: Add web application
  win_shell: |
    New-WebApplication -Name {{ AE_site_app_name }} -Site "{{ antor_ent_site }}" -PhysicalPath "{{ iis_folder }}\{{ AE_site_app_name }}" -ApplicationPool "{{ antor_ent_site }}"
  #tags: test

- name: Reboot server after AEGatewayService
  ansible.windows.win_reboot:

- name: test AEGatewayServiceControl
  win_shell: curl http://localhost:{{ http_port_ae_site }}/{{ AE_site_app_name }}/DataService.svc/ServiceLogEvents -UseBasicParsing
  register: curl_result
  tags: test

- name: Display the CURL output
  debug:
    var: curl_result
  tags: test

- name: Pause for 10 seconds
  pause:    
  tags: test
