- name: Create AEGatewayService directories
  ansible.windows.win_file:
    path: "{{ item }}"
    state: directory
  loop:
    - "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}"
    - "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ db_AEGatewayService_data_folder }}"
    - "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ db_AEGatewayService_log_folder }}"
    - "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGateway_Log_folder }}"
    - "{{ iis_folder }}\\{{ AE_site_app_name }}"
#  tags: test

- name: Set rights AEGatewayService folder
  win_acl:
    path: "{{ item }}"
    user: "{{ user_antor }}"
    rights: FullControl
    state: present
    type: allow
  loop:
    - "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}"
    - "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ db_AEGatewayService_data_folder }}"
    - "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ db_AEGatewayService_log_folder }}"
    - "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGateway_Log_folder }}"
    - "{{ iis_folder }}\\{{ AE_site_app_name }}"
#  tags: test

- name: Add share
  win_share:
    name: "{{ AEGateway_Log_folder }}"
    description: " Share{{ AEGateway_Log_folder }}"
    path: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGateway_Log_folder }}"
    full: Everyone
#  tags: test
- name: Download AEGatewayService distr from FTP
  win_shell: wget {{ ftp_server_repo }}/{{ ftp_folder_repo }}/{{ repo_AEGatewayService_file }} -O "{{ disk_install }}\\{{ antor_root_folder }}\\{{ distr_folder_host }}\\{{ repo_AEGatewayService_file }}"
  # tags: test

- name: Extract AEGatewayService
  win_shell: 7z x "{{ disk_install }}\\{{ antor_root_folder }}\\{{ distr_folder_host }}\\{{ repo_AEGatewayService_file }}" -o"{{ disk_install}}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}" -aos
  # tags: test

- name: Restore database AEGatewayService
  win_shell: |
    $connString = "Server='{{ sql_host }}\{{ sql_name }}';User ID = '{{ sql_admin }}'; Password='{{ sql_passw }}';"                
    $file = "{{ disk_install}}\{{ antor_root_folder }}\{{ AEGatewayService_folder }}\{{ db_AEGatewayService_bak_file }}"
    $lf = "{{ db_AEGatewayService_log_fname }}"
    $log_dir_file = "{{ disk_install }}\{{ antor_root_folder }}\{{ AEGatewayService_folder }}\{{ db_AEGatewayService_log_folder }}\{{ db_AEGatewayService_name }}"
    $data_dir_file = "{{ disk_install }}\{{ antor_root_folder }}\{{ AEGatewayService_folder }}\{{ db_AEGatewayService_data_folder }}\{{ db_AEGatewayService_name }}"
    $db_name = "{{ db_AEGatewayService_name }}"
    $sql = "RESTORE DATABASE [$db_name] FROM DISK = '$file' WITH REPLACE, RECOVERY, MOVE '${lf}' TO '${data_dir_file}.mdf',   MOVE '${lf}_Log' TO '${log_dir_file}.ldf'"

- name: Set Log dir in AEGatewayService config
  community.windows.win_xml:
    path: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ AEGatewayService_config }}"
    xpath: /configuration/userSettings/*/setting[@name="LogsPath" and @serializeAs="String"]/value
    fragment: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGateway_Log_folder }}"
    type: text
    state: present
  #tags: test

- name: Set SQL ConnectionString in AEGatewayService config
  community.windows.win_xml:
    path: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ AEGatewayService_config }}"
    xpath: /configuration/connectionStrings/*[@name="AEGatewayDatabase"]
    fragment: "{{ conn_str }}"
    type: attribute
    attribute: "connectionString"
    state: present
  #tags: test

- name: add firewall rule AEGatewayService
  win_firewall_rule:
    name: "ANTOR TCPGateway Ports"
    direction: in
    action: Allow
    protocol: TCP
    localport: "{{ tele_port_range }}"
    state: present
    enabled: yes
    profile:
      - Domain
      - Private
      - Public
#  tags: test
- name: Set GrantServicePerwmisiion
  win_shell: |
    cd "{{ disk_install }}\{{ antor_root_folder }}\{{ AEGatewayService_folder }}\Security" 
    subinacl.exe /service AEGatewayService /grant="IIS AppPool\ANTOR Enterprise"=F    
    subinacl.exe /subdirectories "{{ disk_install }}\{{ antor_root_folder }}\*"  /grant="IIS AppPool\{{ antor_ent_site }}"=F
    sc.exe sdset SCMANAGER "D:(A;;CCLCRPRC;;;AU)(A;;CCLCRPWPRC;;;SY)(A;;KA;;;BA)S:(AU;FA;KA;;;WD)(AU;OIIOFA;GA;;;WD)"
  # tags: test

- name: Create new service AEGatewayService
  win_service:
    name: AEGatewayService
    path: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\{{ AEGatewayService_exe }}"
    display_name: "ANTOR Enterprise TCP Gateway Service"
    description: "Provides TCP gateway service for ANTOREnterprise platform"
    username: "{{ user_antor }}"
    password: "{{ passw_user_antor }}"
    dependencies: "{{ sql_service }}"
    start_mode: delayed
    state: stopped
    service_type: user_own_process
    failure_actions:
      - type: restart
      - type: restart
      - type: restart
  # tags: test

# - name: Copy a file from one location to another on the remote Windows host
#   ansible.windows.win_copy:
#     src: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\AEGatewayServiceControl\\*"
#     dest: "{{ iis_folder }}\\{{ AE_site_app_name }}"
#     remote_src: true
#   tags: test
- name: Copy files for web service AEGatewayService
  community.windows.win_robocopy:
    src: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ AEGatewayService_folder }}\\AEGatewayServiceControl\\"
    dest: "{{ iis_folder }}\\{{ AE_site_app_name }}"
    purge: true # Deletes files/directories in destination that don't exist in source after sync
    flags: /MIR /MOVE /E
    recurse: true
#  tags: test

- name: Set SQL ConnectionString in web service AEGatewayService config
  community.windows.win_xml:
    path: "{{ iis_folder }}\\{{ AE_site_app_name }}\\web.config"
    xpath: /configuration/connectionStrings/*[@name="AEGatewayDatabase"]
    fragment: "{{ conn_str }}"
    type: attribute
    attribute: "connectionString"
    state: present
#  tags: test

- name: Add web application
  microsoft.iis.web_application:
    name: "{{ AE_site_app_name }}"
    site: " {{ antor_ent_site }}"
    state: present
    path: "{{ iis_folder }}\\{{ AE_site_app_name }}"
    application_pool: " {{ antor_ent_site }} "
  tags: test
