---
- name: Create tools directory if it doesn't exist
  ansible.windows.win_file:
    path: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ antor_tools_folder }}"
    state: directory

- name: Set rights tools folder
  win_acl:
    path: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ antor_tools_folder }}"
    user: "{{ user_antor }}"
    rights: FullControl
    state: present
    type: allow

- name: Download utils distr from FTP
  win_shell: wget {{ftp_server_repo}}/{{ftp_folder_repo}}/{{tools_file_7z}} -O "{{disk_install}}\\{{antor_root_folder}}\\{{distr_folder_host}}\\{{tools_file_7z}}"

- name: Extract all utils 7z to tools folder
  win_shell: 7z x "{{ disk_install }}\\{{ antor_root_folder }}\\{{ distr_folder_host }}\\{{ tools_file_7z }}" -o"{{ disk_install}}\\{{ antor_root_folder }}\\{{ distr_folder_host }}" -aoa

- name: Extract utils
  win_shell: 7z x "{{ disk_install }}\\{{ antor_root_folder }}\\{{ distr_folder_host }}\\{{ item.zip_name }}" -o"{{ item.path }}" -aoa
  loop: "{{ tools_list }}"
  when: item.zip_name | length > 0

- name: Install utils
  win_shell: "{{ item.install_script }}"
  loop: "{{ tools_list }}"
  when: item.install

- name: Create an application shortcut on the desktop
  community.windows.win_shortcut:
    src: "{{ item.path }}\\{{ item.exe_name }}"
    dest: C:\Users\{{ user_adm_antor }}\Desktop\{{ item.tool_name }}.lnk
    icon: "{{ item.icon_path}},0"
  loop: "{{ tools_list }}"
  when: item.shortcut

- name: Create scheduled task "Background info"
  community.windows.win_scheduled_task:
    name: Background info
    description: Background info at startup
    display_name: Background info
    hidden: true
    actions:
      - path: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ antor_tools_folder }}\\bginfo\\bginfo64.exe"
        arguments: "{{ disk_install }}\\{{ antor_root_folder }}\\{{ antor_tools_folder }}\\bginfo\\bg_config.bgi /timer:0 /nolicprompt"
    triggers:
      - type: logon
      - type: boot
    user_id: "{{ user_adm_antor }}"
    author: "{{ user_adm_antor }}"
    username: "{{ user_adm_antor }}"
    password: "{{ passw_adm_antor }}"
    logon_type: interactive_token
    state: present
    enabled: true

# - name: Install Google Chrome via Chocolatey
#   win_chocolatey:
#     name: googlechrome
#     state: present

- name: Reboot server tools
  ansible.windows.win_reboot:
