---
- name: Check for pending Windows Update reboot
  ansible.windows.win_shell: Test-Path 'HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\WindowsUpdate\Auto Update\RebootRequired'
  register: reboot_required_result

- name: Reboot if pending
  ansible.windows.win_reboot:
    msg: "Rebooting for pending update"
  when: reboot_pending_result.stdout == "True\r\n" or reboot_required_result.stdout == "True\r\n"
  
- name: Check UAC status
  ansible.windows.win_reg_stat:
    path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System
    name: EnableLUA
  register: uac_check

- name: Temporarily disable UAC
  win_regedit:
    path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System
    name: EnableLUA
    data: 0
    type: dword
  register: dis_uac
  when: uac_check

- name: Ensure Chocolatey is installed
  win_chocolatey:
    name: chocolatey
    bootstrap_script: "https://community.chocolatey.org/install.ps1"
    version: "1.4.3"
    state: present

- name: Create ANTOR root directory if it doesn't exist
  ansible.windows.win_file:
    path: "{{ antor_root_folder }}"
    state: directory

- name: Create ANTOR user
  ansible.windows.win_user:
    name: "{{ user_antor }}"
    password: "{{ passw_user_antor }}"
    state: present
    groups:
      - Users

- name: set rights root folder
  win_acl:
    path: "{{ antor_root_folder }}"
    user: "{{ user_antor }}"
    rights: FullControl
    state: present
    type: allow

- name: Install 7-Zip
  win_chocolatey:
    name: 7zip.install
    state: present

# - name: Download 7z from FTP
#   win_shell:
#     wget {{ ftp_server_repo }}/{{ ftp_folder_repo }}/7z2501.exe -O "{{ antor_tools_folder }}\\7z2501.exe"

# - name: Install 7zip
#   win_package:
#     path: "{{ antor_tools_folder }}\\7z2501.exe"
#     arguments: "/S"
#     state: present

# - name: Add a directory  7z to the system PATH
#   ansible.windows.win_path:
#     elements: C:\Program Files (x86)\7-Zip
#     scope: machine
#     state: present

