---
  - name: Ensure FTP Server feature is installed
    win_feature:
      name: Web-Ftp-Server
      state: present
      include_management_tools: true
      include_sub_features: true      
    tags: test

  - name: Create physical directory for FTP site
    win_file:
      path: "{{ ftp_path }}"
      state: directory
    tags: test  

  - name: "Установка сертификатов АНТОР"
    include_role:
        name: antor_cert
    tags: test    

  - name: Create the IIS FTP site and binding
    microsoft.iis.website:
      name: "{{ ftp_site_name }}"
      state: started
      physical_path: "{{ ftp_path }}"
      bindings:
        set:
        - port: "{{  ftp_port }}"
          protocol: ftp
          ip_address: "*" # Listen on all IP addresses
    tags: test  

  - name: Configure FTP SSL settings
    win_shell: |
      Import-Module WebAdministration
      $ftpSitePath = "IIS:\Sites\{{ ftp_site_name }}"
      Set-ItemProperty -Path $ftpSitePath -Name sslFlags -Value 1 # 1 means Require SSL
    tags: test    

  - name: Configure FTP authentication
    win_shell: |
      Import-Module WebAdministration
      Set-ItemProperty "IIS:\\Sites\\{{ ftp_site_name }}" -Name ftpServer.security.authentication.anonymousAuthentication.enabled -Value $false
      Set-ItemProperty "IIS:\\Sites\\{{ ftp_site_name }}" -Name ftpServer.security.authentication.BasicAuthentication.enabled -Value $true
      Set-ItemProperty "IIS:\\Sites\\{{ ftp_site_name }}" -Name ftpServer.security.authorization.add.accessType -Value "Read, Write"
      Set-ItemProperty "IIS:\\Sites\\{{ ftp_site_name }}" -Name ftpServer.security.authorization.add.roles -Value ""
      Set-ItemProperty "IIS:\\Sites\\{{ ftp_site_name }}" -Name ftpServer.security.authorization.add.users -Value "*"  
    tags: test  
  
  - name: Set FTP passive port range
    win_shell: |
      Set-ItemProperty "IIS:\\Sites\\{{ ftp_site_name }}" -Name ftpServer.firewallSupport.lowDataChannelPort -Value {{ ftp_port_range1 }}
      Set-ItemProperty "IIS:\\Sites\\{{ ftp_site_name }}" -Name ftpServer.firewallSupport.highDataChannelPort -Value {{ ftp_port_range2 }}
    tags: test  

  - name: Open firewall ports for FTP
    win_firewall_rule:
      name: "FTP Passive Ports"
      localport: "{{ ftp_port_range1 }} - {{ ftp_port_range2 }}"
      action: allow
      protocol: tcp
      state: present
      direction: in
      enabled: yes
      profile: # <-- Changed from Any
        - Domain
        - Private
        - Public      
    tags: test  

  - name: Open FTP control port (21)
    win_firewall_rule:
      name: "FTP Control Port"
      localport: "{{ ftp_port }}"
      action: allow
      protocol: tcp
      state: present
      direction: in      
      enabled: yes
      profile: # <-- Changed from Any
        - Domain
        - Private
        - Public      
    tags: test    